@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body{
	background:#fff;
	/*margin:0;*/
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;	
}

a{color:#fff; text-decoration:none;}
a:hover{color:#ddd; text-decoration:none;}

#header{
	width:548px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
}

#wrap{
	/*float: left;*/
	/*width:900px;*/
	width:100%;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	font-weight:300;
	color:#666666;
	letter-spacing:-1px;
	margin-top:10px;
}

.konten{
	background:#f7f7f7;
	padding:21px;
	text-align:justify;
	color:#000;
}

#footer{
	background:#f7f7f7;
	padding:9px;
	text-align:center;
	font-size: 8pt;
	font-family: monospace;
	color:#666666;
}

#judul{
	text-align:right;
	/*padding:9px;*/
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	/*color:#FFFFFF;*/
}
#logo{
    padding: 50px;
}
#tab{
	padding:0px;
}

#wrap.right {
	float: right;
	height: 100%;
	width: 60%;
}

#cek{
	text-align:left;
	padding:10px;
	font-size:10px;
}
#cek1{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 40%;
    float: left;
}
#cek2{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 30%;
    float: left;
}
#brx{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 3%;
    float: left;
}
#bro0{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 3%;
    float: left;
}
#bro1{
	text-align:left;
	padding:20px;
	font-size:10px;
	width: 50%;
    float: left;
}
#bro2{
	text-align: right;
	padding:10px;
	font-size:10px;
	width: 20%;
    float: right;
}
#brox{
	/*text-align:left;*/
	/*padding:10px;*/
	width: 35px;
    float: left;
}
.pes{
	text-align:left;
	/*padding:0px;*/
	font-size:10px;
	width: 50px;
    float: left;
}
.pes.pesx{
	/*text-align:left;*/
	/*padding:10px;*/
	font-size:10px;
	width: 10px;
    float: left;
}
}
#bro01{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 10%;
    float: left;
}


#imglogo{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 20%;
    float: left;
}

#bawah{
	text-align: center;
	padding:10px;
	font-size:10px;
	width: 100%;
    float: center;

}
#batik1{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 20%;
    float: left;
}
#batik2{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 30%;
    float: left;
}
#batik3{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 25%;
    float: left;
}

#batikx1{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 140px;
    float: left;
}
#batikx2{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 170px;
    float: left;
}
#batikx3{
	text-align:left;
	padding:10px;
	font-size:10px;
	width: 170px;
    float: left;
}

#inside-col-2{
    border-left: 2px solid #009b4c;
    border-right: 2px solid #009b4c;
}
.inside-col {
    padding: 0 24px;
}



#latest {
	padding: 10px;
}
.left-col {
    width: 40%;
    float: left;
}

.left-colx {
    width: 6%;
    float: left;
}
.center-colx {
    width: 80%;
    float: left;
}

table {
    width:100%;
    font-size:10px;
}
table, th, td {
    /*border: 1px solid #c5c2c200;*/
    border-collapse: collapse;
}
th, td {
    padding: 9px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    /*background-color: #eee;*/
}
table#t01 tr:nth-child(odd) {
 /*background-color: #fff;*/
}
table#t01 th {
    background-color: #d4cece;
    color: black;
}
